// Colors
$primary: #fa7268;
$primary--hover: #fa7268e6;
$secondary: #e4e7f4;
$background: #f8f9fd;
$search-text: #9198af;
$dark: #2a2d3b;
$light-yellowish-green: #dbff90;
$magnify: #9297AC;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
