// Colors
$primary: #fa7268;
$primary--hover: #fa7268e6;
$secondary: #e4e7f4;
$background: #f8f9fd;
$bluey-grey: #9198af;
$dark: #2a2d3b;
$light-yellowish-green: #dbff90;
$magnify: #9297AC;
$divisor: #c0c3d2;
$very-light-pink: #fff3f2;
$border-table: #e1e1e1;

$orange: #fa8d68;
$green: #90d26c;
$blue: #68a0fa;
$yellow: #fab668;
$purple: #8368fa;
$pink: #fa68b5;
$teal: #5fe2c4;
$red: #f55a5a;

$indigo: #6574cd;
$cyan: #6cb2eb;
